/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: 'Inter', sans-serif;
  color: #111;
  background: #fff;
}

@font-face {
    font-family: "AstonScriptProRegular";
    src: url('../../assets/fonts/AstonScriptPro.woff2') format('woff2'), url('../../assets/fonts/AstonScriptPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

.page {
  margin: 0 auto;
  padding: 48px 24px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.back {
  margin-left: 24px;
  margin-right: 24px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #000;
  grid-area: 1 / 1 / 2 / 2;
  width: fit-content;
}

.back a {
 text-decoration: none;
  color: #1F1F1F;
  font-size: 25px;
}

.back:hover {
  background-color: #1F1F1F;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back:hover a {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
  margin: 0 80px;
}

.head-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 5rem;
}

.head-content h1 {
  font-size: 120px;
  font-weight: 400;
}

.head-content span {
  font-family: "AstonScriptProRegular", serif;
}

.head-content h3 {
  font-size: 40px;
  font-weight: 400;
}

.sub-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sub-content h4 {
  font-size: 32px;
  font-weight: 400;
  text-align: right;
}

.sub-content p {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.type-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.type-content img {
  max-width: 480px;
  object-fit: contain;
}

.type-content p {
  font-size: 24px;
}

.type-content .left {
  display: flex; 
  flex-direction: row; 
  align-items: flex-end;
  gap: 12px
}

.type-content .right {
  display: flex; 
  flex-direction: column; 
  gap: 12px
}

.left p {
  max-width: 300px;
  height: fit-content;
}

.footer {
    background-color: #1F1F1F;
    color: #FDFDFD;
    margin: 0;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 80px 0;
}

.footer-top-text {
    max-width: 20vw;
}

.footer-top-education {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-top-education a {
    text-decoration: none;
    color: #FDFDFD;
}

.footer-top-education p {
    text-align: right;
}

.footer-internship {
    width: 20vw;
    text-align: left;
    font-size: 52px;
    padding-top: 36px;
    z-index: 10;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-year {
    font-size: 190px;
    z-index: 10;
}

.footer-contact {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: flex-end;
}

.footer-contact img {
    width: auto
}

.footer-contact-content {
    display: flex;
    flex-direction: column;
}

footer-contact-content p {
min-width: 340px;
}

.footer-contact-content h1 {
    max-width: 360px;
    font-weight: 400;
    line-height: 2.5rem;
}

.footer-contact-content span {
    font-family: "AstonScriptProRegular", serif;
}

.footer-skills {
    display: grid;
    width: 40%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 90px;
    padding-bottom: 100px;
    position: relative;
    left: 15%
}

.footer-skills span {
    border-radius: 5px;
    border: 1px solid #FFF;
    text-align: center;
    padding: 12px 9px;
    z-index: 10;
}

.footer-portrait {
    object-fit: contain;
    position: absolute;
    right: 0;
    margin-top: 150px;
    max-width: 35vw;
    z-index: 5;
}